@import '../../theme.scss';

.gallery-content{
    display: flex;

}
.content-category{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.contet-products{
    width: 60%;
    margin: 0 auto;
}

.input-search{
    width: 70%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color-secondary;
    border-radius: 8px;
    padding: 0 16px;
}

.input-transparent{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: $color-neutral-600;
}
.input-transparent:focus {
    outline: none;
    border: none;
}

.content-beneficios{
    width: 100%;
    margin: 16px 0;
    padding: 16px;
    background-color: $color-primary;
    flex-wrap: wrap;
}

.icon-benefices{
    width: 40px;
    margin-right: 8px;
}
.additional-info{
    width: 100vw;
}
.content-info{
    width: 300px;
}
.contend-info-products{
    width: 40%;
}

.product-detail{
    height: 80vh;
    align-items: center;
}