@import '../../theme.scss';

.aside-account{
    width: 230px;
    background-color: $color-neutral-300;
    border-radius: 8px;
    padding: 32px 16px;
    height: fit-content;
    .text-sideaccount{
        color: $color-neutral-550;
        margin-top: 1rem;
        text-decoration: none;
    }
    .sub-title-sideaccount{
        color: $color-neutral-550;
        margin-top: 1rem;
        padding-bottom: 8px;
        text-decoration: none;
        font-weight: bold;
        display: block;
        width: 100%;
        border-bottom: 1px solid $color-neutral-600;
    }
}