footer {
    background-color: #7a11f9;
    color: #fff;
    padding: 20px;
    text-align: center;

    .generalFooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;

        .socialMediaFooter,
        .categoriesFooter,
        .paymentFooter {
            flex: 1 1 100px;
        }

        .socialMediaFooter {
            text-align: center;
        }

        .iconsSocialFooter {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        .iconsSocialFooter a {
            color: white;
        }

        .iconsSocialFooter a:hover {
            cursor: pointer;
            filter: brightness(1) invert(0.5);
        }

        .categoriesFooter {
            text-align: center;

            ul {
                padding: 0;
                list-style: none;
            }

            li {
                margin-bottom: 5px;
                .li-category{
                    color: white;
                    text-decoration: none;
                }
            }
        }

        .paymentFooter {
            text-align: center;
            .paymentIcons {
                display: flex;
                gap: 5px;
                justify-content: center;
                img {
                    width: 50px;
                    filter: invert(100%);
                }
            }
        }
    }

    p {
        font-size: 12px;
        margin-top: 20px;
    }

    @media (max-width: 768px) {
        .generalFooter {
            flex-direction: column;
            gap: 40px;

            .socialMediaFooter,
            .categoriesFooter,
            .paymentFooter {
                margin-bottom: 20px;
            }

            .paymentFooter {
                .paymentIcons {
                    justify-content: center;
                }
            }
        }
    }
}