@import '../../theme.scss';

.logo{
  width: 300px;
}

.w-300{
  width: 300px;
}
.header {
  box-sizing: border-box;
  background: rgb(128, 0, 128); /* Color morado */
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 42px;
  z-index: 100;
  .header-contend{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .menu-button {
    margin-right: 16px;
  }
  .nav-links {
    // flex-grow: 1;
    // display: flex;
    // justify-content: center;

    .link-header {
      font-size: 16px;
      color: $color-white;
      text-decoration: none;
      padding: 0 1rem;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .MuiIconButton-root {
      color: white;
    }

    .MuiBadge-badge {
      background-color: $color-primary-800;
      color: $color-white;
    }
  }

  .grow {
    flex-grow: 1;
  }

  @media (max-width: 768px) {
    .header{
      padding: 0;
    }
    .header-title {
      font-size: 18px;
    }

    .nav-links {
      display: none;
    }
  }
}
