.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 420px;
  }
  
  .login-box {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    width: 100%;
  }
  