$color-primary: #7A11F9;
$color-primary-800: #16132D;
$color-secondary: #FFC200;
$color-white: #ffffff;
$color-neutral-600: #141718;
$color-neutral-500: #6C7275;
$color-neutral-400: #9F9F9F;

$color-error: #b00020;

.tittle-main {
  font-size: 48px;
  color: $color-neutral-600;
  font-family: 'Manrope';
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: $color-neutral-600;
  font-family: 'Manrope';
  font-weight: bold;
  margin-bottom: 8px;
}

.sub-title {
  font-size: 16px;
  font-weight: 500;
  color: $color-neutral-600;
  font-family: 'Manrope';
  font-weight: bold;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: $color-neutral-500;
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
}